.labelNote {
	-fx-font-size: 14px; 
	-fx-font-weight: bold;
	-fx-text-fill: #354B85;
	-fx-border-width: 2px 0px 2px 2px;
	-fx-border-color: #E6E9F0;
	-fx-border-radius: 2px;
	-fx-background-color: #E6E9F0;
 }
 .labelType{
	-fx-font-size: 14px; 
	-fx-font-weight: bold; 
	-fx-text-fill: #354B85;
	-fx-border-radius: 2px;
	-fx-border-width: 2px 0px 2px 0px;
	-fx-border-color: #E6E9F0;
 }
 .labelRessources {
	-fx-font-size: 14px;
	-fx-font-weight: bold; 
	-fx-text-fill: #354B85;
	-fx-border-width: 2px 2px 2px 0px;
	-fx-border-color: #E6E9F0;
	-fx-border-radius: 2px;
 }
 .labelPoids {
	-fx-font-size: 14px; 
	-fx-font-weight: bold; 
	-fx-text-fill: #354B85;
	-fx-border-width: 2px 0px 2px 0px; 
	-fx-border-color: #E6E9F0; 
	-fx-border-radius: 2px;
 }
 
  .labelCommentaire {
	-fx-font-size: 11px; 
	-fx-fill: #354B85;
 }
 
  .paneCommentaire {
 	-fx-border-width: 0px 2px 2px 2px; 
	-fx-border-color: #E6E9F0; 
	-fx-border-radius: 2px;
 }
 
  .labelDate {
	-fx-font-size: 12px; 
	-fx-text-fill: #354B85;
 }
 
 .boutonSupprimerModifier {
 	-fx-background-color: #e6e9f0; 
 	-fx-text-fill: #354B85; 
 	-fx-background-radius: 100%;
 }
 
 .labelTypeClique{
	-fx-font-size: 14px; 
	-fx-font-weight: bold; 
	-fx-text-fill: #354B85;
	-fx-border-radius: 2px;
	-fx-border-width: 2px 0px 0px 0px;
	-fx-border-color: #E6E9F0;
 }
 .labelRessourcesClique {
	-fx-font-size: 14px;
	-fx-font-weight: bold; 
	-fx-text-fill: #354B85;
	-fx-border-width: 2px 2px 0px 0px;
	-fx-border-color: #E6E9F0;
	-fx-border-radius: 2px;
 }
 .labelPoidsClique {
	-fx-font-size: 14px; 
	-fx-font-weight: bold; 
	-fx-text-fill: #354B85;
	-fx-border-width: 2px 0px 0px 0px; 
	-fx-border-color: #E6E9F0; 
	-fx-border-radius: 2px;
 }
 .boutonSauvegarderAide {
 	-fx-background-color: #354B85;
 	-fx-border-color: transparent;
 }
.labelCompetence {
	-fx-font-size: 12px; 
	-fx-font-weight: bold; 	
	-fx-text-fill: #354B85;
	-fx-fill: #354B85;	
}
.labelCompetenceNonCliquee {
	-fx-text-fill: #354B85;
	-fx-fill: #354B85;	
}
.labelCompetenceCliquee {
	-fx-text-fill: #E6E9F0;
	-fx-fill: #E6E9F0;	
}
.paneCompetence { 
	-fx-border-color: #354B85;
	-fx-border-width: 2px; 
	-fx-border-radius: 2px;
 }
 
 .paneCompetenceNonCliquee {
 	-fx-background-color: #E6E9F0;
 }
 
 .paneCompetenceCliquee {
 	-fx-background-color: #F4F4F4;
 }
 
 .paneEnseignement {
	-fx-background-color: #E6E9F0; 
	-fx-border-color: #354B85;
	-fx-border-width: 2px; 
	-fx-border-radius: 2px;
 }
 
 .paneControle {
	-fx-background-color: #E6E9F0; 
	-fx-border-color: #8E9ABB;
	-fx-border-width: 2px; 
	-fx-border-radius: 2px;
 }
 
 .paneInformations {
	-fx-background-color: #EDEFF2; 
	-fx-border-color: #354B85;
	-fx-border-width: 2px; 
	-fx-border-radius: 2px;
 }
 .combo-box .list-cell:selected {
    -fx-text-fill: #E6E9F0; /* Couleur du texte */
}
